.bg{
    /* background-image: linear-gradient(0deg, #242424f0, #000000e0), url("https://images.livemint.com/img/2021/01/17/1600x900/PTI30-03-2020_000065B_1585738603793_1610864931154.jpg"); */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}